@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menuMobile {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    @include sm {
        display: block;
    }

    .modal {
        padding: 50px;
        background-color: $soft-bg;
        position: relative;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            .title {
                font-style: 12px;
                font-weight: 200;
                color: $soft-color;
                text-transform: uppercase;
            }

            .listItem {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border-radius: 5px;

                &:hover {
                    background-color: $soft-bg;
                }
            }
        }
    }
}
